@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Libre Franklin", sans-serif;
}

body {
    font-weight: 500;
    background: white;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 300px;
    background: linear-gradient(to bottom, #01203C, #0D6FCA);
    padding: .4rem .8rem;
    transition: all .0.7s ease;
}

.logo {
    display: flex; 
    align-items: center; 
    margin-top: 1rem;
}


.img-logo {
    max-width: 45px;
    min-height: 45px;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}

.sidebar .img-logo {
    margin-left: 0.2rem;
}

.nomelogo {
    font-weight: 600;
    font-size: 18px;
    color: white;
    margin-left: 5px;
}

.sidebar.active ~ .conteudo-principal {
    left: 80px;
    width: calc(100% - 80px);
}

.sidebar.active {
    width: 80px;
}

.sidebar #btn-menu {
    position: absolute;
    color: white;
    top: 1.1rem;
    left: 90%;
    font-size: 40px;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;

    &:active{
        color: #C2D5E5;
    }
}

.sidebar.active #btn-menu {
    position: absolute;
    color: white;
    top: 4.4rem;
    left: 50%;
    font-size: 40px;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
    margin-bottom: 3.5rem;

    &:active{
        color: #C2D5E5;
    }
}

.sidebar.active .topo .logo .nomelogo {
    display: none;
}

.user {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    justify-content: center;
}

.user p {
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.sidebar.active .topo .user {
    display: none;
}

.sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 1rem auto;
    line-height: 50px;
}

.sidebar.active ul li {
    top: 3.1rem;
}

.sidebar ul li a {
    display: flex;
    color: white;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
    
    &:hover {
        background-color: white;
        color: #01203C;
    }
}

.sidebar ul li a span {
    cursor: pointer;
    &:hover{
        background-color: white;
    }
}


.sidebar ul li a i {
    min-width: 50px;
    text-align: center;
    font-size: 25px;
    border-radius: 15px;
    line-height: 50px;
}

.sidebar.active .item-menu {
    display: none;
}

.sidebar ul li .tooltip {
    position: absolute;
    font-size: 16px;
    color: white;
    background: #01203C;
    left: 125px;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0.5rem rgba(0, 0, 0, 0.2);
    border-radius: .6rem;
    padding: .4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 20;
    opacity: 0;
}

.sidebar.active ul li:hover .tooltip{
    opacity: 1;
}


.conteudo-principal {
    position: relative;
    background-color: #ffff;
    min-height: 100vh;
    top: 0;
    left: 300px;
    transition: all 0.5s ease;
    width: calc(100% - 300px);
    padding: 1rem;
}


.container {
    display: flex;
    justify-content: space-between;
}