@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Libre Franklin", sans-serif;
}

body {
    font-weight: 500;
    background: white;
}

/* ------ CONFIGURAÇÕES DO MENU E TOPO DA PÁGINA ------- */
.topo {
    position: absolute;
    top: 0;
    right: 0;
    background: #0B4983;
    width: 100%;
    height: 65px;
}

.content {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    height: 100%;
    padding: 0 20px; 
}

.user-info {
    display: flex; 
    align-items: center;
}

#nome-usuario {
    color: white; 
    margin-right: 20px; 
    font-size: 14px;
}

#logout {
    width: 70px;
    height: 35px;
    color: white; 
    font-weight: 600;
    text-decoration: none; 
    margin-right: 10px;
    background: #2F8EE5;
    border-radius: 30px;
    text-align: center;
    border: none;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.5s ease;
    box-shadow: 0 0.3rem rgba(0, 0, 0, 0.1);

    &:hover {
        background: #5BABF4;
        transform: translateX(3px);
    }
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 300px;
    min-height: 100vh;
    background: #0B4983;
    padding: 6px 14px; 
    z-index: 200;
}

.sidebar .logo {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    opacity: 1;
    transition: .3s;
}

.sidebar .logo .img-logo {
    max-width: 35px;
    min-height: 35px;
    width: 100%;
    margin-left: 5px;
    height: auto;
    align-items: center;
    justify-content: center;
}

.sidebar.active .logo .img-logo {
    opacity: 0;
}

.sidebar .logo .nomelogo {
    font-size: 26px;
    font-weight: 600;
    color: #ffff;
    pointer-events: none;
    margin-left: 5px;
    opacity: 1;
}

.sidebar.active .logo .nomelogo {
    opacity: 0;
}

.sidebar .logo #btn-menu {
    position: absolute;
    width: 45px;
    left: 90%;
    transform: translateX(-50%);
    height: 45px;
    font-size: 35px;
    color: #ffff;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    transition: .5s;
    margin-top: 5px;

    &:active{
        color: #C2D5E5;
    }
}

.sidebar.active .logo #btn-menu {
    left: 50%;
 
}

.sidebar .nome-item {
    opacity: 1;
    pointer-events: auto;
    font-size: 16px;
}

.sidebar.active .nome-item {
    opacity: 0;
    pointer-events: none;
}


.sidebar .lista {
    margin-top: 20px;
}

.lista .item-menu {
    list-style: none;
    width: 100%;
    height: 50px;
    margin: 5px 0;
    line-height: 50px;
}

.lista .item-menu a {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    transition: .5s;
    white-space: nowrap;
}

.lista .item-menu a i {
    min-width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.lista .item-menu.active a, 
.lista .item-menu a:hover {
    background: rgba(255, 255, 255, .2);
}

.sidebar.active {
    width: 80px;
}

/* ------ CONTEÚDO PRINCIPAL ------ */

.conteudo-principal {
    position: relative;
    background-color: #ffff;
    top: 70px;
    transition: all 0.3s ease;
    padding: 1rem;
    width: calc(100% - 300px); 
    left: 300px; 
    z-index: 100;
}

.conteudo-principal.active {
    top: 70px;
    left: 80px; 
    width: calc(100% - 80px); 
}

.container-form {
    background-color: transparent;
    border: none;
    
}

.tituloform {
    font-size: 24px;
    font-weight: 800;
    color: #09457C;
    margin-bottom: 1rem;
    font-style: bold;
}

.formulario {
    display: flex;
    flex-wrap: wrap;
}

.left {
    flex: 1;
    margin-right: 20px;
}

.right {
    flex: 1;
}

.lbtxt {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
}

input[type="datetime-local"] {
    width: 70%;
    height: 40px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 16px;
    margin-top: 5px;
    box-sizing: border-box;
}

#sinalizacao {
    width: 60%;
    height: 180px;
    font-size: 16px;
    padding: 10px;
    line-height: 1.5;
    border: 1px solid #ccc;
    border-radius: 15px;
    resize: none; 
}


.btn-group {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.container-form select {
    background-color: #0B4983; 
    color: white; 
    border: none; 
    border-radius: 15px; 
    padding: 10px; 
    width: 70%; 
    margin-bottom: 10px; 
    font-size: 16px; 
}

input[type="reset"],
input[type="submit"] {
    width: 30%; 
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    height: 35px;
    font-size: 16px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    background-color: #09457C;
    color: white;
    transition: all 0.5s ease;

    &:hover{
        background: #0D62B0;
        transform: translateX(3px);
    }

    &:active {
        background: #053664;
    }
}



@media screen and (max-width: 600px) {
    .sidebar {
        height: 190vh;
    }

    .formulario {
        flex-direction: column;
    }

    .container-form select {
        width: 100%;
    }

    input[type="datetime-local"] {
        width: 100%;
    }

    #sinalizacao {
        width: 100%;
    }

    .left,
    .right {
        width: 100%;
        margin-right: 0;
    }

    .right {
        margin-top: 20px;
    }

    .btn-group {
        flex-direction: column;
        justify-content: center; 
        align-items: center;
    }

    input[type="reset"],
    input[type="submit"] {
        width: 100%; 
    }
}
/* Botão adicionado por Jonatas*/
.btn-white {
    background: transparent;
    text-decoration: none;
    color: rgb(255, 255, 255); 
}
/* ------- TABELA E BARRA DE PESQUISA ------- */

.container-tabela {
    width: 100%;
    min-height: 50vh;
    height: auto;
    background: transparent;
    border-top: 1px solid #0B4983;
}

.barra-pesquisa {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: 20px;
    right: 20px;
    width: 350px;
    height: 35px;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #053664;
}

.campopesquisar {
    width: 335px;
    padding: 5px 15px;
    border: none;
    background: transparent;
    outline: none;
    font-size: 16px;
    margin: auto;
}

.barra-pesquisa button {
    border: none;
    background: none;
    padding: 10px;
    font-size: 16px;
    margin-right: 5px;
    color: #053664;
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover {
        transform: translateX(3px);
        color: #0D62B0;
    }

    &:active {
        color: #053664;
    }
}

@media screen and (max-width: 600px) {
    .barra-pesquisa {
        position: static; 
        margin-top: 20px;
        width: 100%; 
        text-align: center; 
    }

    .barra-pesquisa input[type="text"] {
        width: calc(100% - 50px); 
    }
}

.tabela {
    width: 100%; 
    border-collapse: collapse;
    margin-top: 10rem;
    border-radius: 15px;
    margin: auto; 
    max-height: 500px;
}

.tabela th,
.tabela td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-size: 14px;
    min-width: 150px;
}

.tabela th {
    background-color: #09457C;
    color: #fff;
}

.tabela tbody tr:nth-child(even) {
    background-color: #EFF7FF;
}

@media screen and (max-width: 600px) {
    .container-tabela {
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: auto;
    }

    .tabela thead {
        display: none;
    }

    .tabela {
        margin-left: auto;
        margin-right: auto;
    }

    .tabela, .tabela tbody, .tabela tr, .tabela td {
        display: block;
        width: 100%;
    }
}
